body {
    font-style: Arial;
    font-size: 17px;
}

.subscribe-button {
    background-color: #000000;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    border-width: 0px;
    cursor: pointer;
    margin-bottom: 35px;
}

.cost-input {
    height: 35px;
    padding-left: 13px;
    padding-right: 20px;
    font-size: 15px;
    margin-bottom: 35px;
}

.calculate-button {
    border-width: 0px;
    background-color: rgb(31, 138, 31);
    color: white;
    font-size: 16px;
    height: 38px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

.is-subscribed {
    background-color: #f0f0f0;
    color: #000000;
}